// =====CASE WINDOW=====
.case-window .content-holder{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.case-window .value{
  font-size: 1.5rem;
  color: $lighterBlue;

  @media screen and (min-width: 1200px){
    font-size: 3rem;
  }
}

.case-window.danger .value{
  color: $red;
}


// =====HEAT MAPS=======
.heat-maps .options{
  font-size: .8rem;
}

// =====TOP LIST=====
.top-list.bottom{
  background-color: rgba($darkBlue, .6);
}

.top-list.bottom .option, .number-option{
  border-radius: 8px;
}

.top-list.bottom ul.the-list{
  height: auto;
  transition: height 1s ease-out;
}

.top-list.bottom ul.the-list li{
  font-size: 1.3rem;
  @media screen and (min-width: 1200px){
    font-size: 1.5rem;
  }
}

.top-list .value {
  color: $red;
  animation: change-color 3s infinite; /* other keywords like "infinite alternate" can be useful here */
}

@keyframes change-color {
  0% {
    color: $red;
  }
  50% {
    color: $yellow;
  }
  100% {
    color: $red;
  }
}
