.countries{
  // background-color: $lighterBlue;
  // background-color: rgba($darkBlue, .8);
}


.countries th svg{
  width: .85rem;
  height: .85rem;
  fill: $darkBlue;
}

.countries th svg.desc{
  transform: rotate(180deg);
}
