// FONTS
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans:wght@400;700&display=swap');

h1,h2,h3,h4,h5,h6{
  font-family: 'Quattrocento', serif;
}

p, a{
  font-family: 'Quattrocento Sans', sans-serif;
}

.font-heading{
  font-family: 'Quattrocento', serif !important;
}
.font-paragraph{
  font-family: 'Quattrocento Sans', sans-serif !important;
}

// COLORS
$darkBlue : #12232E;
$lighterBlue : #007CC7;
$lightestBlue : #4DA8DA;
$darkBlueShadow : #203647;
$lightBlueShadow : #EEFBFB;
$yellow : #FCD200;
$red : #e84545;
$white : #fff;


#root{
  min-height: 100vh;
}

main{
  min-height: 90vh;
}


// ===BACKGROUND=====
.bg-holder{
  background-position: center;
  background-size: cover;
  position: absolute;
  min-height: 100%;
  z-index: -1;
  opacity: .8;
}

.bg-holder .bg-layer{
  background-color: rgba(#000, 0.29);
}

.country-single .bg-holder .bg-layer{
  background-color: rgba($darkBlue, 0.8);
}
