// FONTS
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans:wght@400;700&display=swap');




h1,h2,h3,h4,h5,h6{
  font-family: 'Quattrocento', serif;
}

p, a{
  font-family: 'Quattrocento Sans', sans-serif;
}

.font-heading{
  font-family: 'Quattrocento', serif !important;
}
.font-paragraph{
  font-family: 'Quattrocento Sans', sans-serif !important;
}

.paragraph-size{
  font-size: 1rem;

  @media screen and (min-width: 1024px){
    font-size: 1.7rem;
  }
}

.heading-size{
  font-size: 3rem;
  line-height: 1;

  @media screen and (min-width: 1024px){
    font-size: 4rem;
  }
}

.subheading-size{
  font-size: 2rem;
  @media screen and (min-width: 1024px){
    font-size: 3rem;
  }
}

.section-small-y-padding{
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.section-medium-y-padding{
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.section-small-x-padding{
  padding-left: 5%;
  padding-right: 5%;
}
.section-medium-x-padding{
  padding-left: 10%;
  padding-right: 10%;
}


// COLORS
$darkBlue : #12232E;
$lighterBlue : #007CC7;
$lightestBlue : #4DA8DA;
$darkBlueShadow : #203647;
$lightBlueShadow : #EEFBFB;
$yellow : #FCD200;
$red : #e84545;
$white : #fff;
$gray : #e7e7e7;

#root{
  min-height: 100vh;
}

main{
  min-height: 90vh;
}


// ===BACKGROUND=====
.bg-holder{
  background-position: center;
  background-size: cover;
  position: absolute;
  min-height: 100%;
  z-index: -1;
  opacity: .8;
}

.bg-holder .bg-layer{
  background-color: rgba(#000, 0.29);
}

.country-single .bg-holder .bg-layer{
  background-color: rgba($darkBlue, 0.8);
}

.default-shadow {
  box-shadow: 0 8px 6px -6px black;
}
.yellow-shadow {
  box-shadow: 0 8px 6px -6px $yellow;
}
