@import url("https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento", serif;
}

p, a {
  font-family: "Quattrocento Sans", sans-serif;
}

.font-heading {
  font-family: "Quattrocento", serif !important;
}

.font-paragraph {
  font-family: "Quattrocento Sans", sans-serif !important;
}

.paragraph-size {
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  .paragraph-size {
    font-size: 1.7rem;
  }
}

.heading-size {
  font-size: 3rem;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .heading-size {
    font-size: 4rem;
  }
}

.subheading-size {
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .subheading-size {
    font-size: 3rem;
  }
}

.section-small-y-padding {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.section-medium-y-padding {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.section-small-x-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.section-medium-x-padding {
  padding-left: 10%;
  padding-right: 10%;
}

#root {
  min-height: 100vh;
}

main {
  min-height: 90vh;
}

.bg-holder {
  background-position: center;
  background-size: cover;
  position: absolute;
  min-height: 100%;
  z-index: -1;
  opacity: 0.8;
}

.bg-holder .bg-layer {
  background-color: rgba(0, 0, 0, 0.29);
}

.country-single .bg-holder .bg-layer {
  background-color: rgba(18, 35, 46, 0.8);
}

.default-shadow {
  box-shadow: 0 8px 6px -6px black;
}

.yellow-shadow {
  box-shadow: 0 8px 6px -6px #FCD200;
}

.header nav {
  background-color: #12232E;
}

.header nav a {
  color: #fff;
}

.header nav a.router-link-active {
  color: #FCD200;
}

.hamburger {
  fill: #fff;
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.lang-dropdown {
  z-index: 100;
}

.case-window .content-holder {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.case-window .value {
  font-size: 1.5rem;
  color: #007CC7;
}
@media screen and (min-width: 1200px) {
  .case-window .value {
    font-size: 3rem;
  }
}

.case-window.danger .value {
  color: #e84545;
}

.heat-maps .options {
  font-size: 0.8rem;
}

.top-list.bottom {
  background-color: rgba(18, 35, 46, 0.6);
}

.top-list.bottom .option, .number-option {
  border-radius: 8px;
}

.top-list.bottom ul.the-list {
  height: auto;
  transition: height 1s ease-out;
}

.top-list.bottom ul.the-list li {
  font-size: 1.3rem;
}
@media screen and (min-width: 1200px) {
  .top-list.bottom ul.the-list li {
    font-size: 1.5rem;
  }
}

.top-list .value {
  color: #e84545;
  animation: change-color 3s infinite;
  /* other keywords like "infinite alternate" can be useful here */
}

@keyframes change-color {
  /* You could think of as "step 1" */
  0% {
    color: #e84545;
  }
  50% {
    color: #FCD200;
  }
  /* You could think of as "step 2" */
  100% {
    color: #e84545;
  }
}
.home-title {
  font-size: 2.8rem;
}

.home-subtitle {
  font-size: 2.9rem;
}

@media screen and (min-width: 1200px) {
  section.deaths {
    padding-left: 10vw;
  }
}

.countries-table {
  max-width: 100%;
  overflow-y: scroll;
}

.countries-table th:first-child {
  border-top-left-radius: 8px;
}

.countries-table th:last-child {
  border-top-right-radius: 8px;
}

.countries-table th {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .countries-table th {
    font-size: 1.1rem;
  }
}

.countries-table tbody td {
  border-color: #e7e7e7;
}

.countries-table tbody tr {
  transition: background-color 0.1s linear;
}
.countries-table tbody tr:hover {
  background-color: #e7e7e7;
}
.countries-table tbody tr:hover td {
  border-color: #fff;
}

.countries-table td {
  font-size: 12px;
}
@media screen and (min-width: 1024px) {
  .countries-table td.Country {
    font-size: 1.4rem;
  }
  .countries-table td:not(.Country) {
    font-size: 1.2rem;
  }
}

.countries th svg {
  width: 0.85rem;
  height: 0.85rem;
  fill: #fff;
}

.countries th svg.desc {
  transform: rotate(180deg);
}

@media screen and (max-width: 1023px) {
  .countries .country-title {
    font-size: 2rem;
  }
}

.big-only {
  display: none;
}
@media screen and (min-width: 1024px) {
  .big-only {
    display: table-cell;
  }
}

.feed-btn {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .feed-btn {
    width: 25px;
    height: 25px;
  }
}

.feed-btn.added-to-feed::after,
.feed-btn.removed-from-feed::after {
  font-weight: 800;
  content: "+1";
  color: #12232E;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-animation: feedEffect 1s forwards;
  /* Safari 4+ */
  -moz-animation: feedEffect 1s forwards;
  /* Fx 5+ */
  -o-animation: feedEffect 1s forwards;
  /* Opera 12+ */
  animation: feedEffect 1s forwards;
  /* IE 10+, Fx 29+ */
}

.feed-btn.removed-from-feed::after {
  content: "-1";
  color: #e84545;
}

.count-value {
  -webkit-animation: fadeIn 1s forwards;
  /* Safari 4+ */
  -moz-animation: fadeIn 1s forwards;
  /* Fx 5+ */
  -o-animation: fadeIn 1s forwards;
  /* Opera 12+ */
  animation: fadeIn 1s forwards;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes feedEffect {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: -15px;
    opacity: 0;
  }
}
@-moz-keyframes feedEffect {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: -15px;
    opacity: 0;
  }
}
@-o-keyframes feedEffect {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: -15px;
    opacity: 0;
  }
}
@keyframes feedEffect {
  0% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: -15px;
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes feedEffect {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes feedEffect {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes feedEffect {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  .country-single .charts {
    padding: 5rem 20%;
  }
}

/*# sourceMappingURL=index.css.map */
